.grid-container {
    display: grid;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.background-image-container{
    background-image: url(images/moonlake.jpg);
    background-size: cover;
    background-position: 100%;
}
header{
  width: 100%;
  height: 100%;
  }
h1 {
    color: black;
       height: 150px;
    margin: 0;
    text-align: center;
    padding-top: 550px;
    font-size: xx-large;
}
.nav-bar a {
    color: black;
    font-size: x-large;
    padding-left: 50px;
    margin: 0;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
}
main {
    align-items: center;
}
.main-about {
margin-top:50px;
}
.main-about blockquote {
      
    justify-content:space-evenly;
    margin:25px;
    font-size:xx-large;
    max-width:400px;
}
.main-about div {
display:flex;
align-items:center;
justify-content:space-evenly;
margin-bottom:50px;
}
.main-about p{
    grid-area:text;
    max-width:560px;
    font-size:x-large;
}
.main-about iframe{
    grid-area:video;
}
.main-index {
        margin-top:50px;
           }
    .main-index p{
        font-size:x-large;
        max-width:400px;
    }
       .quotes {
        display:flex;  
        justify-content:space-around;
        margin:25px;
    }    .quotes img {
        object-fit:cover;
        width: 400px;
        height:550px;
    }
    .main-index address {
       align-self:flex-end;
        justify-self:flex-end;
    }
input {
    font-size:xx-large
}
.subscribe {
margin-left: 200px;
text-align: center;
width:500px;
position:absolute;
right:0px;
}
.subscribe-box {
    width: 100%;
    position:relative;
margin-top:20px;
}
footer {
    display:flex;
    justify-content:space-between;
    margin: 300px 12px 12px 12px;
}
/* * {
    margin:0px;
} */
.main-staff img {
height: 250px;
width: 250px;
}
.main-staff p {
    width: 250px;
    text-align:center;
}
.main-staff div {
    
    padding: 12px;
}
.main-staff {
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap;
    margin-top:20px;
}
.main-services img {
object-fit:center;
width: 425px;
height: auto;
}
.main-services div {
flex:1;
}
.main-services {
    display:flex;
    justify-content:center;
    margin: 20px;
}
.main-programs-and-activities img{
   object-fit:center;
   height:475px;
   width:450px;
}
.main-programs-and-activities div{
    flex:1;
}
.main-programs-and-activities {
    display:flex;
    justify-content:center;
    margin: 75px;
}
.photo-gallery img {
    object-fit:center;
    height:500px;
    width:auto;
}
.photo-gallery {
    display:flex;
    justify-content:center;
    margin: 50px;
}

